body{
  text-align: center;
}

.container{
  background-color: #edc4e2;
  margin: auto 0;
}

.flashy{
  margin: 10% 30%;
  border: 2px solid gray;
  font-size: 30px;
  font-style: italic;
  color: red;
}

#best{
  border: 5px solid #d831ab;
}

.resize{
    width: 90%;
}
